<div class="container">
    <div class="ferramentas">
        <div class="ferramenta">
            <p-button icon="pi pi-clone" [rounded]="true" (onClick)="copiarDescricao()" /><br>
            <strong>Copiar descrição</strong>
        </div>
        <div class="ferramenta">
            <p-button icon="pi pi-clone" [rounded]="true" (onClick)="copiarAReceber()" /><br>
            <strong>Copiar a receber</strong>
        </div>
        <div class="ferramenta">
            <p-button icon="pi pi-eraser" [rounded]="true" (onClick)="limpar()" /><br>
            <strong>Limpar</strong>
        </div>
    </div>
    <div class="conteudo">
        <div class="topo">
            <div class="borel turquesa">kalculota</div>
            <form class="form" [formGroup]="form">
                <p-inputNumber formControlName="valor" inputId="currency-br" mode="currency" currency="BRL" locale="pt-BR" />
                <p-button label="Calcular" (onClick)="calcular()" />
            </form>
        </div>
        <div class="resultado">
            <div class="impostos">
                <div class="titulo">Deduções e a receber</div>
                <p>
                    <span>IRRF</span>
                    <span>{{ imposto.irrf | currency:'BRL' }}</span>
                </p>
                <p>
                    <span>PIS</span>
                    <span>{{ imposto.pis | currency:'BRL' }}</span>
                </p>
                <p>
                    <span>COFINS</span>
                    <span>{{ imposto.cofins | currency:'BRL' }}</span>
                </p>
                <p>
                    <span>CSLL</span>
                    <span>{{ imposto.csll | currency:'BRL' }}</span>
                </p>
                <p>
                    <span>Percentual</span>
                    <span>6,15%</span>
                </p>
                <p>
                    <span>Total</span>
                    <span>{{ imposto.total | currency:'BRL' }}</span>
                </p>
                <p>
                    <span>A receber</span>
                    <span>{{ aReceber | currency:'BRL' }}</span>
                </p>
            </div>
            <div class="descricao">
                <div class="titulo">Descrição</div>
                <p [innerHTML]="descricao"></p>
            </div>
        </div>
    </div>
</div>