html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-color: #f2f4f8;
    color: #333;
}

h1,
h2,
h3 {
    text-align: center;
}
