html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f4f8;
    color: #333;
}

h1,
h2,
h3 {
    text-align: center;
    color: #4657b8;
}

button,
mat-label,
input[type='text'] {
    font-family: 'Open Sans', sans-serif !important;
}

textarea {
    font-family: 'Anonymous Pro', monospace !important;
}
