@import 'primeng/resources/themes/lara-light-teal/theme.css';
@import 'primeicons/primeicons.css';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #fff;
    color: #424d65;
}

.borel {
    font-family: 'Borel', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-bottom: -20px;
}

.turquesa {
    color: #05b6d3;
}
